body {
  margin: 0;
 	padding: 0;

  font-family: "PT Sans Regular", Arial, sans-serif;
 	font-size: 14px;
 	line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url();
  background-position: top center;
  background-repeat: no-repeat;
}
ul {
	list-style: none;
}

a {
  text-decoration: none;
}

.main-header,
.interest,
.main-footer b {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff;
}

.intro {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff
}

.intro p {
	font-size: 14px;
	line-height: 26px;	
	color: #333333;

	background-color: #ffffff;
}

.true-sity h3,
.diablo-bridge h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;

	background-color: #81b3d2;
}

.true-city,
.diablo-bridge  {
  font-size: 14px;
	line-height: 21px;	
	color: #ffffff;

	background-color: #81b3d2;	
}

.number span {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;

	background-color: #ffffff;
}

.feauters {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff;
}

.feauters p {
	font-size: 14px;
	line-height: 21px;	
	color: #333333;

	background-color: #ffffff;
}

.causes {
	font-size: 14px;
	line-height: 21px;	
	color: #333333;

	background-color: #eeeeee;
}

.causes h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;

	background-color: #eeeeee;
}

.interest p {
	font-size: 14px;
	line-height: 24px;
	color: #333333;

	background-color: #ffffff;
}

.interest h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff;
}

.interest a {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;

	background-color: #756257;
}

.interest button {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;

	background-color: #81b3d2;	
}

.map {
	background-image: url(img/map.png);
}

.main-footer {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff;
}

.searching-button::hover {
	background-color: #604e43;
}
.searching-button::active {
	background-color: rgba(80, 62, 51);
	color: rgba(255, 255, 255, 0.3);
}

.interest input {
	background-color: #f2f2f2;
}

.interest input::hover {
	background-color: #ebebeb;
}

.interest input::focus {
	background-color: #ffffff;
	border: 2px solid #eeeeee;
}

.search::hover {
	background-color: #669ec0;
}

.search::active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(84, 150, 189);
}