body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

h1 {
	color: #000000;
}

.main-header ul,
.feauters ul,
.causes ul,
.search-hotels ul,
.catalog ul,
.main-footer ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header a {	
	color: #000000;
}

.header-navigation {
	position: relative;
	z-index: 1;
}

.catalog-name a:hover,
.header-navigation .info:hover,
.header-navigation .photo:hover,
.header-navigation .map-state:hover,
.header-navigation .navigation-hotels:hover {
	color: #81b3d2;
}

.header-navigation .info:active,
.header-navigation .photo:active,
.header-navigation .map-state:active,
.header-navigation .navigation-hotels:active {
	color: #dadada;
}

.header-navigation .info:visited,
.header-navigation .photo:visited,
.header-navigation .map-state:visited {
	color: #86766b;
}

.header-navigation .navigation-hotels-current {
	color: #86766b;
}

.container {
	width: 1200px;
	
	margin: auto; 
	text-align: center;

	-webkit-box-shadow: 0px 0px 22px 1px #d3d0d0;
	box-shadow: 0px 0px 22px 1px #d3d0d0;	
}

.item-info {
	width: 238px;
	text-align: left;
}

.item-photo {
	width: 238px;
	text-align: left;
}

.item-map-state {
	width: 238px;
	margin-left: 91px;	

	text-align: right;
}

.item-nav {
	width: 240px;

	text-align: right;
}
	
.site-navigation {
	padding: 0;
	margin: 0;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 72px;
	padding-right: 25px;

	text-align: left;
}

.site-navigation li {
	display: inline-block;
}

.site-navigation a {
	display: block;
	padding-bottom: 2px;

}

.main-logo {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.main-header,
.interest .searching,
.main-footer b {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff;
}

.feauters-list {
	position: relative;

	margin: 0;
	padding-left: 0;
	padding-top: 138px;
	padding-bottom: 67px;

	background-color: #ffffff;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.feauters-item {
	width: 300px;
}

.filter {		
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	min-height: 215px;

	background-color: #f8f5f2;
	background-image: url("../img/main-back-inner.jpg");	
	background-position: center -292px;
	background-repeat: no-repeat;
	background-size: 1200px 800px;
}

.label-check { 
	position: relative;

	cursor: pointer;

	padding-left: 2px;
	padding-top: 1px;
}

.label-check input[type="checkbox"] + .checkbox-hotel,
.label-check input[type="checkbox"] + .checkbox-pool {
	position: absolute;
	top: 1px;
	left: -38px;

	width: 18px;
	height: 18px;

	border: 2px solid #ffffff;
	border-radius: 4px;
}

.label-check input[type="checkbox"] + .checkbox-motel,
.label-check input[type="checkbox"] + .checkbox-parking {
	position: absolute;
	top: 1px;
	left: -38px;

	width: 18px;
	height: 18px;

	border: 2px solid #ffffff;
	border-radius: 4px;
}

.label-check input[type="checkbox"] + .checkbox-apartments,
.label-check input[type="checkbox"] + .checkbox-wifi {
	position: absolute;
	top: -2px;
	left: -38px;

	width: 18px;
	height: 18px;		

	border: 2px solid #ffffff;
	border-radius: 4px;
}

.label-check input[type="checkbox"]:checked + .checkbox-hotel::before,
.label-check input[type="checkbox"]:checked + .checkbox-pool::before,
.label-check input[type="checkbox"]:checked + .checkbox-motel::before,
.label-check input[type="checkbox"]:checked + .checkbox-parking::before,
.label-check input[type="checkbox"]:checked + .checkbox-apartments::before,
.label-check input[type="checkbox"]:checked + .checkbox-wifi::before {
	content: "";

	position: absolute;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 14px;
	top: -3px;
	height: 20px;
	width: 4px;

	background-color: #fff;
	-webkit-box-shadow: 0 0 0 1.5px #5d87af;
	box-shadow: 0 0 0 1.5px #5d87af;
}

.label-check input[type="checkbox"]:checked + .checkbox-hotel::after,
.label-check input[type="checkbox"]:checked + .checkbox-pool::after,
.label-check input[type="checkbox"]:checked + .checkbox-motel::after,
.label-check input[type="checkbox"]:checked + .checkbox-parking::after,
.label-check input[type="checkbox"]:checked + .checkbox-apartments::after,
.label-check input[type="checkbox"]:checked + .checkbox-wifi::after {
	content: "";

	position: absolute;
	top: 5px;
	left: 5px;
	width: 4px;
	height: 9px;
	-webkit-transform: rotate(-45deg);	
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);

	background-color: #fff;
}

.filter input[type="text"] {
	font: inherit;
	color: #ffffff;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.search-hotels legend {
	font-size: 16px;
	line-height: 21px;	
	color: #ffffff;

	padding-top: 27px;	
}

.type-lodging {
	padding-right: 86px;
 }

 .lodging-list {
 	padding-left: 42px;
 }

.type-infrastructure {
	padding-right: 44px;
}

.intro h2,
.main-footer {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff
}
.intro h2 {
	display: inline-block;

	vertical-align: middle;

	width: 450px;
}

.intro {
	padding-top: 43px;
	padding-bottom: 37px;

	background-color: #ffffff;
}

.intro p {	
	margin-top: 10px;

	letter-spacing: 0.1px;
	font-size: 14px;
	line-height: 26px;	
	color: #333333;

	background-color: #ffffff;
}

.true-city {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	width: 100%;
	overflow: hidden;
}	

.true-city-text {
	padding-top: 46px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
	background-color: #81b3d2;
	width: 33.333%;
	min-height: 256px;
	padding-right: 35px;
	padding-bottom: 37px;
	padding-left: 35px;
	text-align: center;
}

.image-city {
	position: relative;
	width: 66.666%;
	height: 256px;
}

.image-city img {	
	position: relative;
	top: 48%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.true-city-text p {
	margin: 21px;
}

.true-city h3,
.diablo-bridge h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;

	width: 151px;

	margin: 0;
	margin-top: 2px;
	margin-left: 89px;
	margin-bottom: 24px;

	background-color: #81b3d2;
}

.diablo-bridge-text {
	padding-top: 44px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
	background-color: #81b3d2;
	width: 33.333%;
	min-height: 256px;
	padding-right: 35px;
	padding-bottom: 35px;
	padding-left: 35px;
	text-align: center;
}

.diablo-bridge-text p {
	margin: 22px 4px;
}

.image-bridge {
	position: relative;
	width: 66.666%;
	height: 256px;
}

.image-bridge img {
	position: relative;
	top: 49%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
}

.swap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;	
}

.diablo-bridge {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	width: 100%;
	overflow: hidden;
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.true-city,
.diablo-bridge	{	
	font-size: 14px;
	line-height: 21px;	
	color: #ffffff;

	background-color: #81b3d2;	
}

.number span {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;	
}

.feauters h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;

	padding-bottom: 5px;

	background-color: #ffffff;
}

.house:before {
	content: "";

	position: absolute;
	top: 59px;
	left: 161px;
	width: 76px;
	height: 74px;

	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.eat:before {
	content: "";

	position: absolute;
	top: 59px;
	left: 563px;
	width: 75px;
	height: 70px;	
	
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.souvenir:before {
	content: "";

	position: absolute;
	right: 156px;
	top: 55px;
	width: 75px;
	height: 76px;

	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.feauters p {
	font-size: 14px;
	line-height: 21px;	
	color: #333333;

	background-color: #ffffff;
}

.causes {
	font-size: 14px;
	line-height: 21px;	
	color: #333333;

	background-color: #eeeeee;
}

.causes-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-ms-flex-pack: distribute;	
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	margin: 0;
	margin-top: 26px;	
	padding: 0;
	margin-bottom: 24px;
	}

.causes h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;

	width: 125px;
	margin-left: 65px;
	margin-bottom: 25px;

	background-color: #eeeeee;
}

.causes-list li {
	width: 261px;
	margin-bottom: 20px;
}

.causes-list p {
	padding-top: 7px;
}

.causes-list li:last-child {
	width: 259px;
}

.interest p {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	font-weight: inherit;

	background-color: #ffffff;
	
	margin: 0;
}

.interest h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff;
	
	margin: 0;
	padding-top: 50px;
}

.searching p {
	margin: 0;	
}

.interest {
	position: relative;

	background-color: #ffffff;
}

.searching {
	display: none;
	position: absolute;

	-webkit-box-sizing: border-box;

	box-sizing: border-box;

	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 1;

	padding-top: 32px;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom: 55px; 
}

.searching-script {
	display: block;
}

.interest label {
	padding-right: 21px;
}

.map {
	width: 1200px;
	height: 470px;	

	background-color: #ffffff;
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.google-map {
	width: 100%;
	height: 100%;

	border: none;
}

.searching-button {
	font-family: inherit;
	font-size: 21px; 
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;

	padding: 30px 140px;
	margin-top: 30px;		
	border: none;	
}

.arrival-date,
.departure-date {
	position: relative;
	width: 302px;	
	height: 35px;

	padding-left: 10px;
	padding-right: 30px;

	background-color: #f2f2f2;
	border: none;
}

.people {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.people-arrival,
.people-arrival1 {
	font-size: 0;
}

.plus,
.minus,
.adults-number,
.kids-number {
	width: 38px;
	height: 38px;

	font-weight: bold;
	line-height: 21px;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	background-color: #f2f2f2;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	color: #000000;
	display: inline-block;
	vertical-align: top;

}

.arrival-date::-webkit-input-placeholder,
.departure-date::-webkit-input-placeholder {
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.arrival-date:-ms-input-placeholder,
.departure-date:-ms-input-placeholder {
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.arrival-date::-ms-input-placeholder,
.departure-date::-ms-input-placeholder {
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.arrival-date::placeholder,
.departure-date::placeholder {
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.plus,
.minus {
	font-size: 20px;
	font-weight: 700;

	color: #a9a9a9;
}

.plus:hover,
.minus:hover {
	color: #000000;
}

.plus:active,
.minus:active { 
	color: #81b3d2;
}


label.adult {
	padding-right: 40px;
}

.people-arrival {
	padding-right: 54px;
	margin-top: -5px;
}

label.kid {
	padding-right: 26px;
}

.people-arrival1 {
	margin-top: -5px;
}

.searching-button:active {
	background-color: rgba(80, 62, 51);
	color: rgba(255, 255, 255, 0.3);
}

.interest input {
	background-color: #f2f2f2;
}

.arrival-date:hover,
.departure-date:hover {
	background-color: #ebebeb;
}

.arrival-date:focus,
.departure-date:focus {
	width: 298px;	
	height: 31px;

	background-color: #ffffff;
	border: 2px solid #eeeeee;
}

.item-departure-date {
	padding-top: 14px;
	padding-bottom: 36px;
}

.item-arrival-date {
	padding-top: 25px;
	padding-bottom: 16px;
}

.text-interest {
	padding-top: 25px;
	padding-bottom: 16px;
}

.search {
	font-family: inherit;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	
	background-color: #81b3d2;
	border: none;

	margin-top: 53px;
	padding-right: 198px;
	padding-left: 193px;
	padding-top: 16px;
	padding-bottom: 17px;
}

.search:hover {
	background-color: #669ec0;
}

.search:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(84, 150, 189);
}

.field-infrastructure {	
	width: 175px;
	border: none;

	margin-right: 0;
	margin-left: 70px;
	padding: 0;
}

.field-lodging {
	width: 175px;
	border: none;

	margin-left: 77px;
	padding: 0;
}

.infrastructure-list li,
.field-lodging li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	
	padding-top: 9px;
	min-height: 38px;
}

.field-range {	
	color: #ffffff;
	text-transform: uppercase;

	margin-left: 300px;

	border: none;	
}

.catalog-list {
	margin: 0;
	padding: 0;
}

.catalog-item-amara {	
	padding-left: 72px;
	padding-top: 16px;
}

.catalog-decoration {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	padding-left: 13px;
}

.catalog-item-amara .catalog-name {
	margin: 0;
	margin-left: 18px;
	margin-bottom: 8px;
	margin-top: 9px;
}

.catalog-item-amara .buttons-details {
	margin-left: 17px;
	margin-top: 13px;
}

.catalog-item-amara .text-catalog {
	display: block;
	margin-left: 17px;
}

.catalog-item-desert {
	margin-top: 11px;
	padding-top: 14px;
	padding-left: 72px;
}

.catalog-item-amara b {
	padding-right: 36px;
}

.catalog-item-desert .catalog-name,
.catalog-item-poco .catalog-name {
	padding-left: 17px;
	margin: 0;
	margin-top: 9px;
	margin-bottom: 8px
}

.catalog-item-desert .text-catalog {
	margin-left: 17px;	
}

.catalog-item-desert b {
	padding-right: 60px;
}

.catalog-item-poco b {
	padding: 0;
	padding-right: 17px;
}

.catalog-item-poco {	
	padding-top: 19px;
	padding-left: 72px;	
	padding-bottom: 9px;
	margin-top: 6px;
	border-bottom: 2px solid #f2f2f2;	
}

.catalog-item-poco .text-catalog {
	padding-left: 17px;	
}

.solo-rating {
	display: block;
}
	
.catalog {
	background-color: #ffffff;
}

.catalog-item-desert .buttons-details,
.catalog-item-poco .buttons-details {
	margin-top: 13px;
	margin-left: 17px;
}

.catalog .button-details {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;

	display: inline-block;
	padding: 3px 17px;
	margin-right: 3px;

	background-color: #81b3d2;
}

.catalog .button-details:hover {
	background-color: #669ec0;
}

.catalog .button-details:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(84, 150, 189);
}


.catalog .button-booking {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;

	display: inline-block;
	padding: 3px 16px;

	background-color: #766357;
}

.catalog .button-booking:hover,
.searching-button:hover {
	background-color: #604e43;
}

.catalog .button-booking:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.catalog b {
	font-size: 14px;
	line-height: 21px;
	color: #929292;
	font-family: inherit;
}

.catalog a,
.results {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.catalog span {
	font-size: 14px;
	line-height: 21px;
	color: #666666;

	background-color: #f2f2f2;

	display: inline-block;
	
	text-align: center;
	width: 110px;
	margin-top: 41px;
	margin-left: 26px;
	margin-right: 8px;
	padding: 3px 0;
}

.catalog li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	border-top: 2px solid #f6f6f6;

	color: #a2a2a2;
}

.sort.sorting-rating {
	margin-left: 29px;
	padding-top: 9px;
}

.sort.sorting-type {
	margin-left: 29px;
	padding-top: 10px;
}

.sorting-price.sort {
	margin-left: 42px;
	padding-top: 10px;
	color: #81b3d2;
	
	border: none;
}

.sorting-results {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 72px;
	padding-top: 7px;
	padding-bottom: 10px;

	background-color: #ffffff;
}

.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 45px;

}

.sort-items {
	margin-top: 5px;
}

.sorting p {
	font-size: 12px;
	line-height: 18px;
	color: #000000;

	margin-top: 17px;
	padding-left: 3px
}

.sorting-price,
.sorting-type,
.sorting-rating {
	font-size: 12px;
	line-height: 18px;
	color: #d8d8d8;

	border-bottom: 1px dashed #81b3d2;
}

.sorting-price:hover,
.sorting-type:hover,
.sorting-rating:hover {
	color: #81b3d2;

	border-bottom: 1px dashed #81b3d2;
}

.sorting-price:active,
.sorting-type:active,
.sorting-rating:active {
	color: #000000;

	border: none;
}

.sorting-price:focus,
.sorting-type:focus,
.sorting-rating:focus {
	color: #81b3d2;

	border: none;
}

.catalog-name a:active {
	color: #d8d8d8;
}

.hero {	
	position: relative;

	height: 508px;	

	background-color: #ffffff;
	background-image: url("../img/main-backg.jpg");
	background-repeat: no-repeat;
	background-position: 0 -42px;
}

.main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer-social-inner ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	width: 150px;
	margin: 0 auto;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;	
}

.footer-social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	width: 150px;
	margin: 0 auto;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.footer-social li,
.footer-social-inner li {
	margin-right: 5px;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	width: 46px;
	height: 48px;

	background-color: #81b3d2;

	margin: 36px 0;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	margin: 0;
	margin-right: 101px;
	margin-top: 8px;
}

.footer-copyright b {
	padding-right: 7px;
	margin-bottom: 9px;
	display: inline-block;
}

.visitsedona {
	margin: 0;
	margin-left: 133px;	
	margin-right: 30px;

	color: #000000;
}
/*SVG*/
.sedona-logo {
	width: 140px;
	height: 72px;
}

.calendar1 {
	position: absolute;
	left: 483px;
	top: 65px;

	fill: #c8c3c3;
}

.calendar2 {
	position: absolute;
	left: 483px;
	top: 132px;

	fill: #c8c3c3;
}

.calendar1:hover,
.calendar2:hover {
	fill: #484848;
}

.calendar1:active,
.calendar2:active {
	fill: #a4c8df;
}

.html-logo {
	width: 115px;
	height:41px;
}

.html-logo:hover {
	fill: #81b3d2;
}

.html-logo:active {
	fill: #bdbbbc;
}

.icon-up {
	position: absolute;
	right: 96px;
	top: 40px;

	fill: #cacaca;
}

.icon-down.active {
	position: absolute;
	top: 39px;
	right: 73px;

	fill: #81b3d2;
}

.icon-down {
	position: absolute;
	top: 39px;
	right: 73px;

	fill: #cacaca;
}

.icon-up:hover,
.icon-down:hover {
	fill: #231f20;
}

.icon-up:active,
.icon-down:active {
	fill: #81b3d2;
}

.icon-up:focus,
.icon-down:focus {
	fill: #81b3d2;
}

.social-button-svg {
	fill: #ffffff;
}

.social-button-svg:active {
	fill: #88b6d1;
}

.welcome {
	margin-top: 76px;	

	width: 459px;
	height: 353px;
}
.hero:before {
	content: "";

	position: absolute;

	width: 1200px;
	height: 70px;
	bottom: -13px;
	left: 0px;

	background-image: url(../img/intro-mask.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}	

.rating-stars-catalog {
	text-align: right;

	margin-top: 12px;
	margin-right: 7px;
}

.rating-stars-catalog li {
	display: inline-block;
	border: none;	
}

.rating-stars {
	margin-left: auto;
	margin-right: 64px;
}

.stars {
	width: 17px;
	height: 18px;
	margin-left: 4px;
}

/* range */

.field-range-title {
	margin-bottom: 4px;
	padding-right: 135px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	
	height: 34px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.catalog-item-poco img,
.catalog-item-amara img,
.catalog-item-desert img {
	margin: 14px 0;
}

.price-controls .min-price,
.price-controls .max-price {	
	padding-left: 53px;
	padding-right: 5px;
	margin-top: -3px;
}

.price-controls input {
	width: 66px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
	width: 5px;
	height: 5px;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.show {
	display: block;
	margin-left: 85px;
	margin-top: -2px;
	padding: 6px 34px;

	font-size: 14px;
	font-family: inherit;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.show:hover {
	color: #000000;

	background: #ffffff;
}